<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <%_ styles.forEach(function(stylePath) { _%>
  <link rel="stylesheet" href="<%= stylePath %>">
  <%_ }) _%>

  <!-- More -->
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="canonical" href="https://kevinnchen.com<% if (locals.slug) { %>/<%= locals.slug %><% } %>">
  <meta name="author" content="Kevin Chen">
  <meta name="description" content="<%= description %>">
  <meta name="theme-color" content="white">

  <!-- Open Graph -->
  <meta property="og:title" content="<%= title %>">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta property="og:url" content="https://kevinnchen.com<% if (locals.slug) { %>/<%= locals.slug %><% } %>">
  <meta property="og:description" content="<%= description %>">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@inchkev">
  <meta name="twitter:creator" content="@inchkev">
