<%- include("partials/head", {
  title: "Kevin Chen",
  description: "Kevin Chen is a designer and programmer. This is a living selection of his work.",
  themeColor: "#008400",
  styles: ["/css/main.css"]}); %>
</head>

<!--

                    <'))><

        ><(((°>                            <*))><

  kevinnchen.com (canonically), terrible.day, kevinning.com, inchkev.com

  Credits & inspiration
    - https://stuart-bertolotti-bailey.org/
    - https://laurel.world/
    - https://mindyseu.com/
    - https://chia.design/

  Copyright 2023-2025 Kevin Chen.
  Source: https://github.com/inchkev/inchkev.github.io

-->

<body>
  <main>
    <div class="container">

      <!-- Left -->
      <section class="flex-left y-scrollable auto-padding">
        <h1>
          Kevin Chen is a <span class="color-design">designer</span> and
          <span class="color-programming">programmer</span>.
        </h1>
        <p>
          I’m interested in tool-making, infrastructure, visibility, gathering, gardening,
          hosting, archiving, printing, printed matter, websites, systems, engines, and open source.
        </p>
        <p>
          I tend my garden at <a class="color-design" href="https://kevin.garden">kevin.garden</a>, where I arrange files,
          create directories, and grow vegetables & herbs. Mostly photos.
        </p>
        <p>
          I work on performance at  <a class="color-programming" href="https://airtable.com">Airtable</a>. Currently in San Francisco.
        </p>
        <p>
          Links... 
          <a href="mailto:k@kevinnchen.com">Email</a>,
          <a href="https://www.are.na/kevin" target="_blank">Are.na</a>,
          <a href="https://twitter.com/inchkev" target="_blank">Twitter</a>,
          <a href="https://github.com/inchkev" target="_blank">GitHub</a>.
        </p>

        <div id="projects">
          <ol>
            <%_ projects.forEach(function(project) { _%>
            <li class="el color-<%= project.type %>" data-project="<%= project.slug %>">
              <a href="projects/<%= project.slug %>">
                <p class="title"><%= project.title %></p>
                <p class="date"><%= project.date %></p>
              </a>
            </li>
            <%_ }); _%>
          </ol>
        </div>

        <p>
          Filter projects by <button name="design" class="color-design">design</button>,
          <button name="programming" class="color-programming">programming</button>, and
          <button name="other" class="color-other">more</button>.
        </p>
      </section>

      <!-- Right -->
      <section class="flex-right y-scrollable auto-padding">
        <div id="image-grid">
          <%_ projects.forEach(function(project) { _%>
          <div class="box color-<%= project.type %>" data-project="<%= project.slug %>">
            <a href="projects/<%= project.slug %>" aria-label="Visit project: <%= project.title %>">
              <%_ if (project.thumbnail.type === "image") { _%>
              <img src="<%= project.thumbnail.src %>" width="<%= project.thumbnail.width %>" height="<%= project.thumbnail.height %>" alt="<%= project.thumbnail.alt %>">
              <%_ } else if (project.thumbnail.type === "video") { _%>
              <video width="<%= project.thumbnail.width %>" height="<%= project.thumbnail.height %>" muted autoplay loop playsinline>
                <source src="<%= project.thumbnail.src.webm %>" type="video/webm">
                <source src="<%= project.thumbnail.src.mp4 %>" type="video/mp4">
              </video>
              <%_ } _%>
            </a>
          </div>
          <%_ }); _%>
        </div>
      </section>

    </div>
  </main>

  <footer>
    <p>See also...</p>
    <p><a href="https://file.gallery">file.gallery</a></p>
    <p><a href="https://font.fish">font.fish</a></p>
    <p><a href="https://blog.kevin.garden">blog (wip)</a></p>
  </footer>

  <script src="/js/index.min.js"></script>
  <!-- the un-minified version can be found at "/js/index.js" -->
  <!-- (or visit the github source) -->
</body>
</html>
