<%- include("partials/head", {
  title: "Kevin Chen",
  description: "Kevin Chen is a designer and programmer. This is a living selection of his work.",
  styles: ["/css/main.css"]}); %>
  <!-- Credits & inspiration -->
  <!-- https://laurel.world/ -->
  <!-- https://mindyseu.com/ -->
  <!-- https://stuart-bertolotti-bailey.org/ -->
  <!-- https://chia.design/ -->
</head>

<body>
  <main>
    <div class="container edge-fade">

      <!-- Left -->
      <div class="flex-left y-scrollable auto-padding">
        <h1>
          Kevin Chen is a <span class="color-design">designer</span> and <span class="color-programming">programmer</span>.
        </h1>
        <p>
          I’m interested in systems, tool-making, infrastructure, visibility, gathering, gardening, printed matter, websites, computer graphics, and open source.
        </p>
        <p>
          I hold a BS in Computer Science from Yale University. Currently in San Francisco.
        </p>
        <p>
          <a href="mailto:k@kevinnchen.com">Email</a>, <a href="https://www.are.na/kevin" target="_blank">Are.na</a>, <a href="https://twitter.com/inchkev" target="_blank">Twitter</a>, <a href="https://github.com/inchkev" target="_blank">GitHub</a>, <a href="https://www.linkedin.com/in/kevinnchen/" target="_blank">LinkedIn</a>.
        </p>

        <div id="projects" class="hyphenate">
          <ol>
            <%_ projects.forEach(function(project) { _%>
            <li class="el color-<%= project.type %>" data-project="<%= project.slug %>">
              <a href="projects/<%= project.slug %>">
                <p class="title"><%= project.title %></h3>
                <p class="date"><%= project.date %></p>
                <!-- <p class="tags"><%= project.tags %></p> -->
              </a>
            </li>
            <%_ }); _%>
          </ol>
        </div>

        <p>
          Filter projects by (<button name="design" class="color-design">design</button>, <button name="programming" class="color-programming">programming</button>).
        </p>
      </div>


      <!-- Right -->
      <div class="flex-right y-scrollable auto-padding">
        <div id="image-grid">
          <%_ projects.forEach(function(project) { _%>
          <div class="box color-<%= project.type %>" data-project="<%= project.slug %>">
            <a href="projects/<%= project.slug %>" aria-label="Visit project: <%= project.title %>">
              <%_ if (project.thumbnail.type === "image") { _%>
              <img src="<%= project.thumbnail.src %>" width="<%= project.thumbnail.width %>" height="<%= project.thumbnail.height %>" alt=""></img>
              <%_ } else if (project.thumbnail.type === "video") { _%>
              <video width="<%= project.thumbnail.width %>" height="<%= project.thumbnail.height %>" autoplay loop muted playsinline>
                <source src="<%= project.thumbnail.src.webm %>" type="video/webm"/>
                <source src="<%= project.thumbnail.src.mp4 %>" type="video/mp4"/>
              </video>
              <%_ } _%>
            </a>
          </div>
          <%_ }); _%>
        </div>
      </div>

    </div>
  </main>

  <footer role="contentinfo">
    <p><a href="./resume.pdf">Resume (technical)</a><p>
    <p><a href="https://kevin.garden/">Garden</a><p>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js" type="text/javascript"></script>
  <script src="/js/main.js" type="text/javascript"></script>
</body>

</html>
