<%- include("partials/head", {
  title: title + " - Kevin Chen",
  description: "Kevin Chen is a designer and programmer.",
  // themeColor: "#ffffff",
  themeColor: "#008400",
  slug: slug,
  styles: ["/css/main.css", "/css/project.css"]}); %>
</head>

<!--

  Copyright 2023-2025 Kevin Chen.
  The code that generates this website is licensed under GPL-3.0.
  Source: https://github.com/inchkev/inchkev.github.io

-->

<body>
  <main>
    <div class="container">

      <!-- Left (title, date, long description) -->
      <section class="flex-description y-scrollable auto-padding">
        <h1><a href="/">Kevin Chen</a></h1>

        <div id="title">
          <h2 class="color-<%= type %>"><%= locals.titleLong ? titleLong : title %></h2>
          <div id="metadata" class="color-<%= type %> small">
            <p><%= dateLong %></p>
            <p>tags: <%= tags %></p>
          </div>
        </div>

        <%_ descriptionLong.forEach(function(paragraph) { _%>
        <p><%- paragraph %></p>
        <%_ }); _%>
      </section>

      <!-- Right (main content blocks) -->
      <section class="flex-content y-scrollable auto-padding"<% if (locals.backgroundColor) { %> style="background-color:<%= backgroundColor %><% if (locals.textColor) { %>;color:<%= textColor %><% } %>"<% } %>>
        <%_ main.forEach(function(section) { _%>
          <%_ if (section.type === "raw") { _%>
            <%_ section.contents.forEach(function(paragraph) { _%>

        <%- paragraph %>

            <%_ }); _%>
          <%_ } else if (section.type === "regular") { _%>
        <div<% if (section.class) { %> class="<%= section.class %>"<% } %><% if (section.style) { %> style="<%= section.style %>"<% } %>>
            <%_ section.contents.forEach(function(media) { _%>
              <%_ if (media.type === "raw") { _%>
          <%- media.content %>
              <%_ } else if (media.type === "text") { _%>
          <p><%- media.content %></p>
              <%_ } else if (media.type === "image") { _%>
          <img src="<%= media.src %>" width="<%= media.width %>" height="<%= media.height %>" alt="<%= media.alt %>">
              <%_ } else if (media.type === "image-caption") { _%>
          <figure>
            <img src="<%= media.src %>" width="<%= media.width %>" height="<%= media.height %>" alt="<%= media.alt %>">
            <figcaption><%- media.caption %></figcaption>
          </figure>
              <%_ } else if (media.type === "video") { _%>
          <video width="<%= media.width %>" height="<%= media.height %>" controls autoplay muted playsinline>
            <% if (media.src.webm) { %><source src="<%= media.src.webm %>" type="video/webm"><% } %>
            <% if (media.src.mp4) { %><source src="<%= media.src.mp4 %>" type="video/mp4"><% } %>
          </video>
              <%_ } else if (media.type === "video-caption") { _%>
          <figure>
            <video width="<%= media.width %>" height="<%= media.height %>" controls autoplay muted playsinline>
              <% if (media.src.webm) { %><source src="<%= media.src.webm %>" type="video/webm"><% } %>
              <% if (media.src.mp4) { %><source src="<%= media.src.mp4 %>" type="video/mp4"><% } %>
            </video>
            <figcaption><%- media.caption %></figcaption>
          </figure>
              <%_ } else if (media.type === "youtube-embed") { _%>
          <iframe class="video-container-<%= media.aspectRatio %>" src="https://www.youtube.com/embed/<%= media.videoId %>" title="<%= media.title %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              <%_ } else if (media.type === "youtube-embed-caption") { _%>
          <figure>
            <iframe class="video-container-<%= media.aspectRatio %>" src="https://www.youtube.com/embed/<%= media.videoId %>" title="<%= media.title %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <figcaption><%- media.caption %></figcaption>
          </figure>
              <%_ } else if (media.type === "pdf") { _%>
          <iframe class="pdf-container-<%= media.aspectRatio %>" src="<%= media.src %>"></iframe>
              <%_ } else if (media.type === "pdf-caption") { _%>
          <figure>
            <iframe class="pdf-container-<%= media.aspectRatio %>" src="<%= media.src %>"></iframe>
            <figcaption><%- media.caption %></figcaption>
          </figure>
              <%_ } else if (media.type === "link") { _%>
          <p><a href="<%= media.src %>"><%= media.src %></a></p>
              <%_ } else if (media.type === "link-caption") { _%>
          <figure>
            <p><a href="<%= media.src %>"><%= media.caption %></a></p>
            <figcaption class="overflow-ellipsis"><%- media.src %></figcaption>
          </figure>
              <%_ } _%>
            <%_ }); _%>
        </div>
          <%_ } _%>
        <%_ }); _%>
      </section>

    </div>
  </main>

  <script src="/js/project.min.js"></script>
  <!-- the un-minified version can be found at "/js/project.js" -->
  <!-- (or visit the github source) -->
</body>
</html>
